.THIS .slds-lookup__menu {
    width: 90%;
    display: block;
}

.THIS input[type=date]::-webkit-inner-spin-button {
   display: none;
}

.THIS .uiInput--default .form-element__label {
    font-size: .75rem;
}

.THIS .slds-lookup-text-margin {
    margin-right: 1rem;
}

.THIS .slds-lookup__item-action .slds-icon {
    margin: 0;
}

.THIS .slds-button_icon-inverse,.THIS .slds-button--icon-inverse {
    color: rgb(255, 255, 255);
}

.THIS.no-tender-accounts-modal{
    -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
         -o-animation: fadein 2s;
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}